*{
    margin : 0 auto;
    padding : 0;
    font-family: Arial;
}
/* Main container */
.container {
    width:100%;
    height:auto;
    display:flex;
    flex-wrap:wrap;
    margin: 0 auto;
}
/* Logo header */
header {
    overflow:hidden;
    width:100%;
    height:auto;
    margin:0 auto;
    background-color: #96C5F7;
}
/* Logo */
header img {
    height:auto;
    width:15%;
    margin-left:50%;
    transform: translateX(-50%);
    background-color: #96C5F7;
}
/* Top navigation */
.topnav {
    height:auto;
    width:100%;
    text-align:center;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    margin: 0px 0px 20px 0px;
    background: #F2F4FF;
}
/* Top navigation links*/
.topnav a {
    margin: 10px 10px 10px 10px;
    color: black;
}
/* Left ads */
aside.ads1 {
    float:left;
    margin:0 auto;
    width: 25%;
    height: 30%;
}
/* Images in left ads */
.ads1 img {
    width:90%;
    height: auto;
    margin: 0 5%;
}
/* Bottom ads */
#ad2, #ad4 {
    margin-top:10%;
}
/* Right ads */
aside.ads2 {
    float:right;
    margin:0 auto;
    width: 25%;
    height: 30%;
}
/* Right ads images */
.ads2 img {
    width:90%;
    height: auto;
    margin: 0 5%;
}
/* Converter "box" */
article.main {
    margin: 0 auto;
    display: block;
    height:auto;
    width:50%;
    background-color: #272932;
    text-align:center;
}
/* Input field container */
.currencyInput {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top:50px;
}
.row1{
    border: none;
    color: white;
    padding: 25px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 auto;
    cursor: pointer;
    width:40%;
}

#dropdown_menu1 {
    float:left;
    margin:0 auto;
    height:2rem;
}
#dropdown_menu2{
    position:relative;
    float:right;
    height:2rem;
    horiz-align: center;
}
/* Result text */
#result {
    width:10%;
    color:white;
    font-size:42px;
}
/*convertbutton*/

.cbutton{
    width:40%
}
#convert {
    width: 20%;
    margin: 20px 0px;
    height: 35px;
    vertical-align: center;
    horiz-align: center;
}
/* Swap button (swaps between first currency selection and second) */
#swap {
    background:white;
    width:20%;
    height:2rem;
    left:45%;
    right:45%;
}
/* Input field */
#cash_to_be_converted {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 25px 0px;
    width:40%;
    max-width: 80%;
    height:auto;
    box-shadow: 0px 1px 5px rgb(97,97,97);
    margin: 40px auto;
}



footer {
    heigth:10%;
    width:100%;
    margin:0 auto;
    background: #FFFFFF;
}
/* Map, shows currencies for almost every country */
#map {
    margin-top:20px;
}
/* Link style */
a {
        display: inline-block;
        position: relative;
        padding-bottom: 3px;
        text-decoration: none;
}
/* Link bottom style */
a:after {
        content: '';
        display: block;
        margin: auto;
        height: 2px;
        width: 0px;
        background: transparent;
        transition: width .5s ease, background-color .5s ease;
    }
/* Link hover effect */
a:hover:after {
        width: 85%;
        background: #96C5F7;
}
/* Dates */
.date p {
    text-align: center;
    position: center;
    margin: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background: #B5E2FA;
    width: 300px;
    flex-wrap: wrap;
}
/* Media queries, used if window is narrow */
@media only screen and (max-width: 600px) {
    article.main {
        width:100%;
    }
    .ads1 img{
        display: none;
    }
    aside.ads2{
        width:100%;
    }
}