*{
    margin : 0 auto;
    padding : 0;
    font-family: Arial;
}

.container{
    width:100%;
    height:auto;
    display:flex;
    flex-wrap:wrap;
    margin: 0 auto;
}

header {
    overflow:hidden;
    width:100%;
    height:auto;
    margin:0 auto;
    background-color: #96C5F7;
}
header img {
    height:auto;
    width:15%;
    margin-left:50%;
    transform: translateX(-50%);
    background-color: #96C5F7;
}

.topnav{
    height:auto;
    width:100%;
    text-align:center;
    border-top: solid black 1px;
    border-bottom: solid black 1px;
    margin: 0px 0px 20px 0px;
    background: #F2F4FF;
}
.topnav     a{
    margin: 10px 10px 10px 10px;
    color: black;
}

aside.ads1 {
    float:left;
    margin:0 auto;
    width: 25%;
    height: 30%;
    background-color: black;
}

.ads1 img{
    width:90%;
    height: auto;
    margin: 0 5%;
}

#ad2{
    margin-top:10%;
}

aside.ads2 {
    float:right;
    margin:0 auto;
    width: 25%;
    height: 50%;
    background-color: black;
}

.ads2 img{
    width:90%;
    height: auto;
    margin: 0 5%;
}
#ad4{
    margin-top:10%;
}


article.main {
    margin: 0 auto;
    display: block;
    height:auto;
    width:50%;
    background-color: #272932;
    text-align:center;
}


#cash_to_be_converted {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 25px 0px;
    width:40%;
    max-width: 80%;
    height:auto;
    box-shadow: 0px 1px 5px rgb(97,97,97);
    margin: 40px auto;
}

.row1{
    border: none;
    color: white;
    padding: 25px 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 auto;
    cursor: pointer;
    width:40%;
}

#dropdown_menu1 {
    float:left;
    margin:0 auto;
    height:2rem;
}
#dropdown_menu2{
    position:relative;
    float:right;
    height:2rem;
    horiz-align: center;
}

#swap {
    background:white;
    width:20%;
    height:2rem;
    left:45%;
    right:45%;
}

#info{
    text-align: center;
    width:10%;
    color:white;
    font-size:22px;
}
#result{
    text-align: center;
    width:10%;
    color:white;
    font-size:42px;
}

/*convertbutton*/

.cbutton{
    width:40%
}
#convert {
    width: 20%;
    margin: 20px 0px;
    height: 35px;
    vertical-align: center;
    horiz-align: center;
}

footer {
    heigth:10%;
    width:100%;
    margin:0 auto;
    background: #FFFFFF;
}
#map{
    margin-top:20px;
}

a {
    display: inline-block;
    position: relative;
    padding-bottom: 3px;
    text-decoration: none;
}
a:after {
    content: '';
    display: block;
    margin: auto;
    height: 2px;
    width: 0px;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}
a:hover:after {
    width: 85%;
    background: #96C5F7;
}


time p {
    text-align: center;
    position: center;
    margin: 30px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background: #B5E2FA;
    width: 300px;
    flex-wrap: wrap;
}

@media only screen and (max-width: 700px) {
    article.main {
        width:100%;
    }
    .ads1 img{
        display: none;
    }
    aside.ads2{
        width:100%;
    }
}